* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: rgb(15, 151, 67);
  height: 100vh;
}

.card {
  background-color: antiquewhite;
  width: 50%;
  height: 70%;
  padding: 30px;
  white-space: normal;
}

.social {
  border-radius: 30px;
  font-size: larger;
  background-color: aliceblue;
}
